/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   section{
       padding-top: 50px;
       /*background-color: #eed39a;*/
       background-color: white;
   }

       .thumbnail{
       opacity: .8;
       /*background-color: #eed39a;*/
       background-color: white;
       border: 20px solid transparent;
       -webkit-border-image: url("../img/border.png") 100 round ; /* Safari 3.1-5 */
       -o-border-image: url("../img/border.png") 100 round ; /* Opera 11-12.1 */
       border-image: url("../img/border.png") 30 round ;
       /*border-image: url("http://previews.123rf.com/images/lajo_2/lajo_21111/lajo_2111100004/11126313-floral-page-decoration-Stock-Vector-medieval-unity-de.jpg") 30 round ;*/
   }

   .thumbnail:hover{
       opacity: 1;

   }

  i{
      margin-right: 20px;
  }

/* Button play and note*/
   .play{
       width:140px;
   }

.vote{
    width:140px;
}

 /* //Button play and note// */

   /* NAVBAR*/

   .navbar-brand {
     position: absolute;
     width: 100%;
     left: 0;
     top: 0;
     text-align: center;
     font-family: 'Audiowide', cursive;
     color: rgb(0, 0, 0) !important;
     margin: auto;
   }

   .navbar-inverse {
     background-color: rgba(215, 215, 215, 0.6) !important;
     background-image: none !important;
     border: none !important;
   }
   #navdropd {
     background-color: #16203E;
   }
   nav li a {
     padding: 5px !important;
     margin-top: 8px !important;
   }
   .btn-general {
     background-color: #eed39a !important;
     color: #6c5a33 !important;
     border: 2px solid #eed39a !important;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 10px;
     padding: 5px 0;
     font-size: 1.1em;
   }
   .btn-general:hover {
     background-color: #97855F !important;
     color: #fff !important;
     border: 2px solid #eed39a !important;
   }
   .btn-extensed {
     padding: 20px;
     font-size: 1.4em
   }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
     background-color: #97855F !important;
     background-image: none;
   }
   .navbar-header button {
     background-color: #eed39a;
   }
  .navbar-inverse .navbar-toggle .icon-bar{
     background-color: #000000 !important;
   }
  .navbar-header .navbar-toggle {
  padding: 10px 10px;
  margin-top: 5px;
  }

  /* //NAVBAR // */



  /*Couleur de fond du footer*/
  footer {
  background-color: #eed39a;
  }

  /*Position de la FAQ*/
  #faq {
  padding-bottom: 5%;
  margin-left: 15%;
  }

  /*Position de la liste de la FAQ*/
  footer li {
  margin-left: 15%;
  }

  /*hover de la liste de la FAQ*/
  footer li:hover {
  color:white;
  }

  /*Position du titre réseaux sociaux*/
  #reseaux {
  padding-bottom: 5%;
  }

  /*Position et couleur des fafa réseaux sociaux*/
  #facebook, #twitter, #google {
  margin-left: 15%;
  color:#333;
  }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
