/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*------ BODY ------*/
body {
  background-color: #DDC389;
  color: #222;
  font-family: 'Audiowide', cursive;
}

section {
  height: 100vh;
  padding: 50px 0 0;
}

.container-fluid {
  padding: inherit 2px;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb > li + li:before {
  color: #AAA;
}

.breadcrumb > .active {
  color: #666;
}

h1 , h2 {
  line-height: 200%;
  text-shadow: 0 -1px 1px rgba(215, 215, 215, .80);
}

.row {
  margin: 0;
}

a {
  color: #31508D;
}

a:hover {
  color: #7A94C2;
}

.btn-general {
  background-color: #FFE4AB !important;
  color: #5B4922 !important;
  border: 1px solid #97855F !important;
  font-size: 1.1em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .90);
  background-image: -webkit-linear-gradient(top, #FFE4AB 0%, #DFC48B 100%);
  background-image:      -o-linear-gradient(top, #FFE4AB 0%, #DFC48B 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE4AB), to(#DFC48B));
  background-image:         linear-gradient(to bottom, #FFE4AB 0%, #DFC48B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFE4AB', endColorstr='#FFDFC48B', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}

.btn-general:hover {
  background-color: #A89670 !important;
  color: #EEE !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .90);
  background-image: -webkit-linear-gradient(top, #A89670 0%, #88764F 100%);
  background-image:      -o-linear-gradient(top, #A89670 0%, #88764F 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A89670), to(#88764F));
  background-image:         linear-gradient(to bottom, #A89670 0%, #88764F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA89670', endColorstr='#FF88764F', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}

.form-control {
  font-size: .6em;
}

label {
  font-weight: normal;
}

.input-icon {
  width: 2em;
}

.help-block {
  color: red;
  padding-left: 10px;
}

.checkbox {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .form-control {
    font-size: .8em;
  }
}
/*------ END BODY ------*/

/*------ NAVBAR ------*/
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: rgb(0, 0, 0) !important;
  margin: auto;
}

.navbar-inverse {
  background-color: rgba(215, 215, 215, 0.6) !important;
  background-image: none !important;
  border: none !important;
}

.navbar-inverse .navbar-brand {
  text-shadow: 0 -1px 1px rgba(235, 235, 235, .80);
}

.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 1px 1px rgba(235, 235, 235, .80);
}

.navbar-inverse .navbar-nav > li > a:hover {
  text-shadow: 0 1px 1px rgba(20, 20, 20, .80);
}

#navdropd {
  background-color: rgba(215, 215, 215, 0.6) !important;
}

#navdropd > li > a:hover {
  background-image: none;
  background-color: #97855F !important;
}

nav li a {
  padding: 5px !important;
  margin-top: 8px !important;
}

nav .btn-general {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px 0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
 background-color: #97855F !important;
 background-image: none;
}

.navbar-inverse .navbar-toggle .icon-bar{
 background-color: #000 !important;
}

.navbar-header .navbar-toggle {
padding: 10px 10px;
margin-top: 5px;
}
/*------ END NAVBAR ------*/

/*------ LOGIN ------*/
.loginOr {
  position: relative;
  font-size: 1.5em;
  margin: 1em 0;
  padding: 0.5em 0;
}

.hrOr {
  background-color: #EEE;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: #DDC389;
  width: 2em;
  text-align: center;
}

@media (min-width: 768px) {
  .forgotPwd {
    text-align: right;
    margin-top: 10px;
  }
}
/*------ END LOGIN ------*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
